html, body, div{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	background-color: #385A72;
}

h1 {
	margin: 0px;
}

h3 {
	margin: 0px;
}

rect.square{
	fill: #D8D8D8;
	stroke: black;
	stroke-width: 1;
	opacity: 1;
}

rect.segment{
	stroke: black;
	stroke-width: 1px;
	opacity: 1;
}

#header{
	height: 60px;
	text-align: center;
	background-color: #6491A1;
}

#svg{
	background-color: #6491A1;
}

#nav{
	height: 40px;
	text-align: center;

}

#nav_list dt
{
	display: inline;
	list-style-type: none;
}

dt{
	padding: 0px 20px;
}

#copyright{
	height: 30px;
	padding: 15px;
	text-align: center;
	font-size: 12px;
}