html, body, div{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}

html, body{
	background-color: #385A72;
}

h1 {
	margin: 0px;
}

h3 {
	margin: 0px;
}

rect.square{
	fill: #D8D8D8;
	stroke: black;
	stroke-width: 1;
	opacity: 1;
}

rect.segment{
	stroke: black;
	stroke-width: 1px;
	opacity: 1;
}

dt{
	padding: 0px 20px;
}

table{
    border-width: 0 0 1px 1px;
    border-style: solid;
	border-spacing: 0px;
}

td, th{
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
}

#header{
	height: 60px;
	text-align: center;
	background-color: #6491A1;
}

#svg{
	background-color: #6491A1;
}

#front {
    z-index: 1;
}

#nav{
	height: 40px;
	text-align: center;

}

#nav_list dt
{
	display: inline;
	list-style-type: none;
}

#input_level, #input_piece_length{
	width: 30px;
}

#input_winner {
	width: 200px;
}

#copyright{
	height: 30px;
	padding: 15px;
	text-align: center;
	font-size: 12px;
}

.popup{
	text-align: center;
	display: none;
	position: absolute;
	background: #FFFFFF;
	padding: 20px 10px;
	z-index: 10;
	min-height: 200px;
	min-width: 200px;
}

#background{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	z-index: 1;
}