html, body, div{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}

html, body{
	background-color: #B9CBE2;
}

h1 {
	margin: 0px;
}

h2 {
	margin: 0px;
}

button {
	background-color: #D8D8D8;
	border: 1px solid #808080;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
	min-width: 80px;
}

button:hover {
	background-color: #FFFFFF;
	/*color: #FFFFFF;*/
	cursor: pointer;
}

rect.square{
	fill: #D8D8D8;
	stroke: #808080;
	stroke-width: 1;
	opacity: 1;
}

rect.segment{
	stroke: black;
	stroke-width: 1px;
	opacity: 1;
}

dt {
	padding: 0px 20px;
}

dl {
	margin: 0px;
}

table{
	background-color: #D8D8D8;
	border-color: #808080;
    border-width: 0 0 1px 1px;
    border-style: solid;
	border-spacing: 0px;
	margin: 10px;
	width: 400px;
}

td, th{
	border-color: #808080;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0px;
    padding: 4px;
}

#header{
	height: 80px;
	text-align: center;
	/*background: -moz-linear-gradient(top, #D9D9D9 0%, #DCDFE3 100%); /* FF3.6+ */
	color: #293154;
}

#svg {
	background-color: #E0E0E0;
}

#main {
	background-color: #E0E0E0;
}

#front {
    z-index: 1;
}

#nav{
	padding: 4px 0px 0px 0px;
	height: 34px;
	text-align: center;
	/*background: -moz-linear-gradient(top, #788CA6 0%, #B9CBE2 100%); /* FF3.6+ */
	border: 1px solid #788CA6;
}

#nav_list dt {
	display: inline;
	list-style-type: none;
}

input {
	border: 1px solid #788CA6;
}

#input_level, #input_piece_length{
	width: 30px;
	text-align: center;
}

#input_winner {
	width: 200px;
}

#copyright{
	height: 30px;
	padding: 15px;
	text-align: center;
	font-size: 12px;
	border-top: 1px solid #788CA6;
	/*background: -moz-linear-gradient(top, #788CA6 0%, #B9CBE2 100%); /* FF3.6+ */
}

.popup{
	text-align: center;
	display: none;
	position: absolute;
	padding: 20px 10px;
	z-index: 10;
	min-height: 200px;
	min-width: 200px;
}

#popup_winner {
	background-color: #FFFFFF;
}

#popup_scoreboard {
	background-color: #B9CBE2;
}

#background{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	z-index: 1;
}